# Database
POSTGRES_DB=replace-with-db-name
POSTGRES_USER=replace-with-db-username
POSTGRES_PASSWORD=replace-with-db-password

# JWT
JWT_SECRET=replace-with-a-base64-encoded-32-byte-secret

# Spring
JPA_DDL_AUTO=validate

# Server
SERVER_PORT=8080

#dev
DEV_ADMIN_EMAIL=admin@example.com
DEV_ADMIN_PASSWORD=replace-with-development-password

SPRING_PROFILES_ACTIVE=dev

APP_ENVIRONMENT=local